; Configuration for TalkieTalkie presentations
; ATTENTION: Make sure to add configurations files to be included in the export settings
; Export Settings -> Filters to export non-resource files/folders: *.cfg
; This will also ensure the plugin version is displayed correctly in export builds (loaded from plugin.cfg)

[General]
; Remember slide on close. If true, the slide index will be loaded from the last session if the presentation name matches.
remember_slide=true

; Stops the Slideshow if an input is pressed
stop_auto_slideshow_on_continue=true

; When active, using an unhandled left click input events will continue slides (additional to the other inputs).
; This might not be work as intended if control nodes don't propagate mouse input  
continue_on_unhandled_left_click=true

[UI]

; "false": don't open the ui on startup
; "on_mobile": open the ui on startup only on mobile devices
; "true": open the ui on startup
open_ui_on_startup="on_mobile"

; "false": this button will not be displayed on startup
; "on_mobile": this button will only be displayed on startup on mobile devices
; "true": this button will be displayed on startup
show_toggle_ui_button="on_mobile"

enable_control_bar=true
enable_tabnav_bar=true
enable_settings=true
enable_about_window_links=true

[TabNavigation]

; The maximum amount of slides = tab nav elements until scroll mode is activated
max_visible_tabnav_elements=12

; The width of the tab navigation bar when scroll mode is activated
tabnav_width_on_scroll=400

; The text on the tab navigation elements
; "none": no text
; "number": the number of the slide
; "slide_title": the first letters of the slide title 
tabnav_indicator="none"

; If tabnav_indicator is "slide_title", limit the length to this number.
; E.g. if the title is "Introduction" and tabnav_indicator_length is 4, only "Intr" is shown 
tabnav_indicator_max_length=3

[Settings]

show_translation_control=false

show_audio_controls=false

; The audio bus that will be affected by the audio slider, if the bus exists. 
; Update this if you want to target a different bus.
target_audio_bus="Master"

[SideWindow]

; Enabled
; "false": the side window will not be displayed on startup
; "on_multiple_monitors": the side window will only be displayed on startup if more than one monitor is recognized
; "true": the side window will be displayed on startup
enable_side_window="on_multiple_monitors"

; If the side window is enabled: opens the side window initially. The window can also be opened from the ui
open_sw_on_start=false

; Quit presentation if the side window is closed 
quit_on_close_sw=true
